@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Open+Sans');


@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:100,200,300,400,500,600,700,800,900');

/* fonts 
font-family: 'Work Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Muli', sans-serif;
*/

/* DEFAUT STYLING 
=============================================== */

* {
    box-sizing: border-box;
    /* makes padding a lot easier */
    transition: all ease-in-out 250ms;
    /* default transitino for all hover effects */
}

html,
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}


#container {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.row {
    display: table-row;
    width: 100%;
    height: 100%;

}


.middle {
    height: 30vh;
    background-image: url(img/max-ostrozhinskiy-218836.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0em;

}

.header,
.footer {
    background: white;
    display: table-row;
    text-align: center;
    vertical-align: middle;
}

.content {
    display: table;
    margin-top: 1em;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.middle {
    height: 30vh;
    display: table-cell;
    vertical-align: middle;
    background-image: url(img/max-ostrozhinskiy-218836.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    color: white;
}

.middle-about {
    height: 100vh;
    display: table-cell;
    vertical-align: middle;

    background-size: cover;
    background-position: center;
    width: 80%;
    color: black;

}


.left {
    display: table-cell;
    vertical-align: middle;
    position: fixed;
    top: 26%;
    width: 10%;
    float: left;
    z-index: 9;

}

.right {
    display: table-cell;
    vertical-align: middle;
    position: fixed;
    top: 21%;
    width: 11%;
    float: right;
    z-index: 9;

}


.section {
    width: 100%;
    height: 100%;
    max-width: 72em;
    margin: 0 auto;
}


img {
    max-width: 100%;
    height: auto;
}


.clearfix::after,
section::after,
footer::after {
    content: '';
    display: block;
    clear: both;

}


/* tablet screens */

@media (min-width: 37rem) {
    .left {
        display: table-cell;
        vertical-align: middle;
        position: fixed;
        top: 19%;
        width: 8%;
        float: left;
        z-index: 9;

    }

    .right {
        display: table-cell;
        vertical-align: middle;
        position: fixed;
        top: 17%;
        width: 11%;
        float: right;
        z-index: 9;

    }
}

/* Bigger Screens */

@media (min-width: 60rem) {


    html,
    body {
        height: 100%;
        margin: 0;
        text-align: center;
    }

    #container {
        display: table;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .row {
        display: table-row;
        width: 100%;
        height: 100%;

    }

    .header,
    .footer {
        background: white;
        display: table-row;
        text-align: center;
        vertical-align: middle;
    }

    .content {
        display: table;
        margin-top: 1em;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .middle {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
        background-image: url(img/max-ostrozhinskiy-218836.jpg);
        background-size: cover;
        background-position: center;
        width: 80%;
        color: white;
    }


    .left {
        display: table-cell;
        vertical-align: middle;
        position: fixed;
        top: 50%;
        width: 10%;
        float: left;
        z-index: 9:
    }

    .right {
        display: table-cell;
        vertical-align: middle;
        position: fixed;
        top: 50%;
        width: 10%;
        float: right;
        z-index: 9:
    }

    .section {
        width: 100%;
        height: 100%;
        max-width: 80%;
        margin: 0 auto;
    }

}

/* collapse sidebar-layout */

/* Column systemn for portfolio section 
=============================================== */

/* select all classes that start with "col-" */

[class^=col-] {
    width: 100%;
    margin-top: 1em;

}

[class^=col-]:first-child {
    margin-top: 1em;
}

.col-1 {
    width: 10%;
    float: left;
}


/* for bigger screens */

@media (min-width: 40rem) {

    [class^=col-] {
        float: left;
        padding: 15em 0em;
        margin-top: 0;
    }

    [class^=col-]:first-child {
        padding-left: 10em;
    }

    [class^=col-]:last-child {
        padding-right: 0;
    }

    .col-3 {
        width: 50%;
    }

    .col-1 {
        width: 16.6666%;
    }

}




/* TYPOGRAPHY
=============================================== */

h1 {
    font-weight: 200;
    font-size: .7rem;
    margin-top: 0;
}

h2 {
    font-size: .8rem;
    font-weight: 700;
}


h4 {
    font-weight: 400;
    font-size: .7rem;
    margin-top: 0;
}


p {
    font-size: .7em;
    margin-top: .5em;
    line-height: 1.5;

}


p:last-of-type {
    margin-bottom: 0;
}


.title {
    font-size: .9rem;
    margin-bottom: 1.5em;
    font-weight: 500;
    margin-top: 1em;
    padding: 0;
    padding-top: 1em;
}

span {
    font-weight: 600;
    line-height: 1.8;
    display: block;
    font-size: 1em;
}

/* Used to belong to the Portfolio title in the header  {
    font-size: 2rem;
    font-weight: 500;
}
*/

#title-left {
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .5rem;
    letter-spacing: 2px;
    transform: rotate(270deg);

}

#title-right {
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .5rem;
    letter-spacing: 1.5px;
    transform: rotate(90deg);
}


.unstyled-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 100;
    font-size: .7em;
}



/* tablet screens */

@media (min-width: 37rem) {
    h2 {
        font-size: 1.1rem;
        font-weight: 700;
    }

}



/* Bigger screens */

@media (min-width:60rem) {

    h1 {
        font-size: .7rem;
        margin-top: 0;
        padding-top: 2em;
    }

    h2 {
        font-size: 1.9rem;
        letter-spacing: .09em;
        line-height: 1.5em;
    }


    h4 {
        /* font-weight: 300; */
        font-size: .7rem;
        margin-top: 0;
    }

    p {
        font-size: 1.0rem;
        line-height: 1.6;
        margin-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
    }

    .title {
        font-size: 1.3rem;
        margin: 0 2em 0 2em;
        padding-top: 1em;

    }

    /* Used to belong to the Portfolio title in the header 
    title-top {
        font-size: 1rem;
    } */
    #title-left {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 2px;
        transform: rotate(270deg);
    }

    #title-right {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 1.5px;
        transform: rotate(90deg);
    }

    .unstyled-list {
        margin-left: 1em;
        margin-top: 1em;
        color: black;
    }
}


/* BUTTONS
=============================================== */

.button {
    display: inline-block;
    font-size: 1.rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

@media (min-width:60rem) {
    .button {
        font-size: 1.3rem;
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 400;
}

.button-accent {
    color: white;
    border-color: #ffffff;
}

.button-accent:hover,
.button-accent:focus {
    background: rgba(255, 255, 255, 0.24);
    color: white;
    font-size: .75rem;
}


.button-dark {
    color: black;
    border-color: black;
}

.button-dark:hover,
.button-dark:focus {
    /* background: rgba(0, 0, 0, .6); */
    color: white;
    border-color: white;
    font-weight: 600;

}




/* HEADER 
=============================================== */

header {
    position: fixed;
    background-color: white;
    z-index: 15;
    left: 0;
    right: 0;
    margin: 0em;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    /* aligning them on one line */
    margin: 0rem;
    margin-right: 0em;
}

nav a {
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: .5rem;
    padding-right: 1em;
    /* making the clickble area a little bit bigger */
    color: black;
}

nav a:hover,
nav a:focus {
    color: #DDD;
}


/* Bigger screens */

@media (min-width:60rem) {

    .header {
        font-size: 1.3rem;
    }

    nav li {
        display: inline-block;
        /* aligning them on one line */
        margin: .9em;
        text-align: center;
        padding: 0 1em 0 1em;
        list-style: none;

    }

    nav a {
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .7rem;
        padding-right: 2em;
        /* making the clickble area a little bit bigger */
        color: black;
    }
}




/* About page 
=============================================== */

.page {
    height: 100%;
    width: 100%;
    text-align: center;
}

.intro {
    display: inline-block;
    background-color: #dfffe2;
    margin-top: 2em;
    width: 100%;
    height: 15vh;

}

.intro-box {
    margin: 0em 1em 1em 1em;
    font-size: 1.0rem;
    letter-spacing: .11em;
    padding-top: .7em;

}


.about-item {
    margin: 0;
    position: relative;
    z-index: 8:
}

.about-item img {
    display: block;
    padding: .9em;
}

.about-desc {
    position: absolute;
    z-index: 10;
    bottom: .9em;
    left: .9em;
    right: .9em;
    color: white;
    background: rgba(0, 0, 0, .6);
    padding-bottom: 2em;

}

.about-desc p {
    margin: 0.7em;
    font-size: 1rem;
    font-weight: 300;
}


/* tablet screens */

@media (min-width: 37rem) {
    
    
.intro {
    display: inline-block;
    background-color: #dfffe2;
    margin-top: 2em;
    width: 100%;
    height: 12vh;

}

.intro-box {
    margin: 0em 1em 0em 1em;
    font-size: 1.0rem;
    letter-spacing: .11em;

}


    .about-item {
        padding-top: 0em;
        width: 50%;
        float: left;
    }
    
    }
    
    
    
    /* Bigger screens */
    @media (min-width: 60rem) {

        .intro {
            display: inline-block;
            background-color: #dfffe2;
            margin-top: 10em;
            width: 100%;
            height: 41vh;

        }

        .intro-box {
            padding-top: 4em;
            font-size: 1.0rem;
            letter-spacing: .11em;

        }


        .about-item {
            position: absolute;
            display: inline-block;
            margin-top: 5em;
            width: 25%;
            overflow: hidden;

            /* if the description doesn't fit inside the picture they will be hidden - below we add a hover effect */
        }

        /* moving the port description below the pictures for bigger screens */
        .about-desc {
            transform: translateY(150%);
        }

        /* adding a hover effect on the description */
        .about-item:hover .about-desc {
            transform: translateY(0);

        }

    }

    /* FOOTER
=============================================== */
    footer {
        background-color: white;
        color: white;
        text-align: center;
        padding: 0;
    }

    .footer-text {
        font-size: 1.0rem;
        display: inline-block;
        list-style: none;
        margin: 0;
        font-weight: 900;
        color: black;
    }

    .footer-icons {
        margin: 1em;
        padding: 0em;
    }

    #linkedin {
        padding: 0em;
    }
